<!DOCTYPE html>
<html>
<head>
  <title>Capitalism is a Virus</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <!--<script src="https://unpkg.com/vue"></script>-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162771148-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162771148-1');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" language="javascript" src="js/get_images.js"></script>
  <script type="text/javascript" language="javascript" src="js/shuffle.js"></script>

  <link rel="stylesheet" href="style/font-style.css">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" media="(any-pointer:coarse)" href="style/mobile-style.css">

</head>
<body>
    <div id="app">
        <div class="scroller-container">
            <h1 class="propaganda">
                CAPITALISM IS A VIRUS
            </h1>
        </div>
        <div class="headline">
            <h1 class="propaganda">
                Welcome, fellow traveler! Art is an essential part of spreading the message of democratic socialism. We hope these tools will help you share your determination to make a better world. Reading this means you've taken the first step. You saw some radical art stapled up in your community or on your newsfeed, got curious and visited this site. Now, it’s time to get real.
            </h1>
            <ul class="propaganda">
                <li><a @mouseover="chooseRandomColor" href="documents/capitalism_virus_readme.pdf">How To Staple</a></li>
                <li><a @mouseover="chooseRandomColor" href="documents/Print - Starter Kit v1.1.pdf">Print Materials</a></li>
                <li><a @mouseover="chooseRandomColor" href="https://docs.google.com/forms/d/e/1FAIpQLSezTQP-gXOxSvvDRfy5F-W89TRVnBBMfpxLAIkqoipUM5AbRg/viewform">Join Us</a></li>
                <li><a target="_blank" @mouseover="chooseRandomColor" href="https://twitter.com/intent/tweet?text=The time is now to blanket our communities in political art that inspires working class solidarity, teaches policy demands, and shares democratic socialist values.&hashtags=capitalismisavirus&url=https://www.capitalismisavirus.org">Share</a></li>
        </div>
        <div class="scroller-container">
            <h1 class="propaganda">
                MEDICARE PARA TODOS
            </h1>
        </div>
        <scroller
            v-for="s in scrollers"
            :_svg_list="s.images"
            :is_mobile="is_mobile"
            :propaganda="s.propaganda"
            :key="s.id"></scroller>
    </div>
	<script>
        function setCssProp(prop, value) {
            let d = document.documentElement;
            d.style.setProperty(prop, value);
        }
        function setImageBackground(colors) {
            var color = colors[color_idx];
            color_idx++;
            if (color_idx >= colors.length) {
                color_idx = 0;
            }
            setCssProp("--image-background-color", color);
        }
        var colors = [
            "rgb(245 ,65 ,92)",
            "rgb(168 ,214 ,0)",
            "rgb(125 ,125 ,255)",
            "rgb(255 ,156 ,26)",
            "rgb(6 ,220 ,255)",
            "rgb(255 ,0 ,169)",
            "rgb(255 ,215 ,0)"]
        var color_idx = 0;
        colors = shuffle(colors);
        setCssProp("--website-background-color", colors.pop());
        setImageBackground(colors);
	</script>

    <script>

	function makeStopper(elem) {
	    return function() {
	 	   return elem._scroll = false;
	    };
	}

	function makeGoer(elem) {
	    return function() {
	 	   return elem._scroll = true;
	    };
	}

    var scrollerContainer = null;
    var scrollers = null;
    function start() {
        scrollerContainer = document.getElementsByClassName("scroller-container");
        scrollers = document.getElementsByClassName("scroller");

        var x = 0;
        for (s of scrollers) {
            s.left = 0;
            s.delta = (x % 3) + 1;
            x += 1;

            s._scroll = true;
            s.addEventListener("mouseover", makeStopper(s));
            s.addEventListener("mouseout", makeGoer(s));

            continue;
        }
        moveLeft();
    }
    var stop = false;
    function moveLeft() {
        for (s of scrollers) {
            if (s._scroll && !stop) {
                var images = s.children[0];
                s.left -= s.delta;
                if (s.left <= -images.offsetWidth) {
                    s.left += images.offsetWidth;
                }
                s.style.left = s.left + "px";
            }
        }
        setTimeout(moveLeft, 25);
    }
    Vue.component('scrolling-image', { // read this 
        props: ['asset', 'tick'],
        template: `
            <div
                @mouseleave="chooseInheritColor"
                @mouseenter="chooseRandomColor"
                @touchstart="touchstart"
                @touchmove="touchmove"
                @touchend="touchend"

                :style="parentDivStl"
                class="scrolling-img">
                <img :src="svg_path">
                <div
                    v-if="showInfo"
                    class="scrolling-img-info">
                        <p><a href="documents/Print - Starter Kit v1.1.pdf">print</a></p>
                        <p><a href="#" @click="generatePng" >share</a></p>
                    </div>
                </div>
            </div>
        `,
        data: function() {
            return {
                showInfo: false,
                parentDivStl: {
                    "background-color": "inherit"
                },
                readyMobileEvent: false,
                svg_path: `assets/svgs/${this.asset}.svg`,
                png_path: `assets/pngs/${this.asset}.png`,
            }
        },
        methods: {
            touchstart: function() {
                this.readyMobileEvent = true;
            },
            touchmove: function() {
                this.readyMobileEvent = false;
            },
            touchend: function() {
                if (this.readyMobileEvent) {
                    this.$emit("mobile-test-event");
                    this.$nextTick(function() {
                        this.chooseRandomColor();
                    });
                }
            },
            chooseInheritColor: function() {
                this.parentDivStl["background-color"] = "inherit";
                this.showInfo = false;
            },
            chooseRandomColor: function() {
                setImageBackground(colors);
                this.parentDivStl["background-color"] = "var(--image-background-color)";
                this.showInfo = true;
            },
            // highlightPairedImg: function() {
            //     var pair;
            //     var assetNum = parseInt(this.asset);
            //     if ((assetNum & 1) === 0) {
            //         pair = ["" + (assetNum - 1), "" + assetNum];
            //     } else {
            //         pair = ["" + assetNum, "" + (assetNum + 1)];
            //     }
            //     this.$emit("notify-paired-img", pair);
            // },
            generatePng: function(event) {

                var img = new Image();
                var a = document.createElement("a");
                a.download = `${this.asset}.png`;
                img.onload = function() {
                    setImageBackground(colors);
                    var color = colors[color_idx];
                    var c = document.createElement("canvas");
                    var ctx = c.getContext("2d");
                    var w = img.width;
                    var h = img.height;
                    // var w = 3301;
                    // var h = 2550;
                    c.width = w;
                    c.height = h;
                    ctx.fillStyle = color;
                    ctx.rect(0, 0, w, h);
                    ctx.fill('evenodd');
                    ctx.drawImage(img, 0, 0);

                    a.href = c.toDataURL("image/png");
                    a.click();
                }

                img.src = this.png_path;
            },
        },
        watch: {
            tick: function() {
                this.chooseInheritColor();
            },
            // highlight: function() {
            //     var bg = this.highlight
            //         ? "var(--image-background-color)"
            //         : "inherit";
            //     this.parentDivStl["background-color"] = bg;
            // },
        }
    });
    Vue.component('scroller', {
        props: ['_svg_list', 'is_mobile','propaganda'],
        template: `
            <div class="scroller-container">
                <div class="scroller">
                    <div class="images">
                        <scrolling-image
                            @mobile-test-event="mobileTest"
                            v-for="s in scroller_images_1"
                            
                            :tick="tick"
                            :asset="s.link"
                            :key="s.id">
                        </scrolling-image>
                    </div>
                    <div v-if="!is_mobile" class="images">
                        <scrolling-image
                            @mobile-test-event="mobileTest"
                            v-for="s in scroller_images_2"
                            
                            :tick="tick"
                            :asset="s.link"
                            :key="s.id">
                        </scrolling-image>
                    </div>
                </div>
                <h1 class="propaganda">{{ propaganda }}</h1>
            </div>
        `,
        data: function() {
            return {
                tick: false,
            }
        },
        methods: {
            mobileTest: function() {
                this.tick = !this.tick;
            },
            // notifyPairedImgs: function(pair) {
            //     this.highlighted = pair;
            // },
            getScrollerInfo: function(i) {
                var list = []
                for (s of this._svg_list) {
                    var obj = Object.assign({}, s);
                    // var highlight = false;
                    // for (h of this.highlighted) {
                    //     if (s.link === h) {
                    //         highlight = true;
                    //         break;
                    //     }
                    // }
                    // obj.highlighted = highlight;
                    obj.id = "img" + i++;
                    list.push(obj);
                }
                return list;
            },
        },
        computed: {
            scroller_images_1: function () {
                return this.getScrollerInfo(0);
            },
            scroller_images_2: function () {
                return this.getScrollerInfo(this._svg_list.length);
            }
        }
    });

    var computedStyle = getComputedStyle(document.documentElement);
    var is_mobile = computedStyle.getPropertyValue("--is-mobile") !== "";

    var i = 0;
    var app = new Vue({
        el: "#app",
        data: {
            image_lists: image_lists,
            is_mobile: is_mobile,
            propaganda: ["ONLY WE CAN SAVE US","TEXT YOUR NEIGHBORS","CALL YOUR MOTHER"],
        },
        computed: {
            scrollers: function() {
                var scrollers = this.image_lists;
                var prop = this.propaganda;
                for (var i = 0; i < scrollers.length; i++) {
                    scrollers[i].propaganda = prop[i];
                    scrollers[i].id = i;
                }
                return scrollers;
            },
        },
        methods: {
            chooseRandomColor: function() {
                setImageBackground(colors);
            }
        },
    });
    if (!is_mobile)
        start();
    </script>
</body>
