@font-face {
        font-family: FoundersGrotestk;
        src: url("assets/fonts/Founders Grotestk - Regular.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotestk;
        font-weight: bold;
        src: url("assets/fonts/Founders Grotestk - Bold.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotestk;
        font-style: italic;
        src: url("assets/fonts/Founders Grotestk - Regular Italic.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotestk;
        font-style: italic;
        font-weight: bold;
        src: url("assets/fonts/Founders Grotestk - Bold Italic.otf") format("opentype");
}
