@font-face {
        font-family: FoundersGrotesk;
        src: url("fonts/Founders Grotesk - Regular.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotesk;
        font-weight: bold;
        src: url("fonts/Founders Grotesk - Bold.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotesk;
        font-style: italic;
        src: url("fonts/Founders Grotesk - Regular Italic.otf") format("opentype");
}

@font-face {
        font-family: FoundersGrotesk;
        font-style: italic;
        font-weight: bold;
        src: url("fonts/Founders Grotesk - Bold Italic.otf") format("opentype");
}
