:root {
    --is-mobile: 1;
}

.scrolling-img .scrolling-img-info {
    position: relative;
}

.scrolling-img {
    display: block;
    width: 100%;
    padding: 1vh;
}

.scrolling-img .scrolling-img-info p {
    top: 1vh;
    right: 1vh;
    font-size: 5vh;
}

.headline {
    text-align: left;
}

.headline .propaganda {
    position: relative;
    left: 1vh;
    font-size: 5vh;
    width: 100%;
}

@media (max-width: 400px) {
    .headline .propaganda {
        font-size: 4.5vh;
        width: 90%;
    }
}

.propaganda {
    font-size: 3vh;
}

.scroller-container .propaganda {
    font-style: italic;
    font-size: 4vh;
    padding: 1vh 0vh .5vh;
    color: var(--website-background-color);
    background-color: black;
}

.scroller-container{
    padding: 1vh 0vh;
}
