:root {
    --website-background-color: #a4e622;
    --image-background-color: #11aaff;
}
body {
    font-family: FoundersGrotesk, sans-serif;
    background-color: var(--website-background-color);
}
.headline {
    text-align: center;
}
.propaganda {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.headline .propaganda {
    width: 70%;
    text-align: left;
    font-size: 2em;
}
.headline .propaganda a {
	font-weight: normal;
    padding: 5px 0px 0px;

    color: black;
    background-color: black;
	color: var(--website-background-color);
}
.headline .propaganda a:hover {
    background-color: var(--image-background-color);
    color: black;
}
.scroller-container .propaganda {
    font-style: italic;
    font-size: 2em;
    padding: 1em 0em .5em;
    color: var(--website-background-color);
    background-color: black;
}
.scroller-container .propaganda a {
    color: var(--website-background-color);
}
@media (min-width:1024px) {
	.headline .propaganda {
		width: 60%;
        font-size: 3em;
	}
    .scroller-container .propaganda {
        font-size: 3em;
        padding: 1em 0em .5em;
        background-color: black;
        word-spacing: .5em;
    }
}
.scroller-container {
    overflow: hidden;
    white-space: nowrap;
}
.scrolling-img {
    position: relative;
    display: inline-block;
    width: 25%;
}
.scrolling-img img{
    width: 100%;
}
.scrolling-img .scrolling-img-info {
    text-align: center;
    position: absolute;
    bottom: -10%;
    left: 0%;
	padding: 0em 0em .5em;
    width: 100%;
	background-color: var(--image-background-color);
}
@media (min-width:1280px) {
	.scrolling-img .scrolling-img-info {
		// padding: .5em 0em;
	}
}
.scrolling-img .scrolling-img-info p {
	padding-right: 10px;
	position: relative;
	font-size: 1em;
	display: inline;
    margin: 5px 0px 0px;
}
.scrolling-img .scrolling-img-info p a {
    padding: 0px 5px 5px;
    background-color: black;
	color: var(--image-background-color);
	font-weight: bold;
    font-family: "Times New Roman";
}

@media (min-width:1280px) {
    .scrolling-img .scrolling-img-info p {
        font-size: 2em;
    }
}
.scroller {
    position: relative;
}
.images {
    float: none;
    display: inline;
}
